@model Category

<div class="container mt-5">
    <h3 class="text-center">Create new category</h3>
    <form asp-action="Create" method="post">
        <input type="text" asp-for="Name" class="form-control mt-5" id="categoryInput" placeholder="Enter new category name">
        <span class="text-danger d-block" asp-validation-for="Name"></span>
        <button type="submit" class="btn btn-success mr-2 mt-3">Submit</button>
        <a asp-action="Index" class="btn btn-primary mx-2 mt-3">Cancel</a>
    </form>
</div>