@model IEnumerable<Category>
<div class="container mt-3">

    <h1 class="text-center">Categories</h1>
    <div class="create-area">
        <a asp-action="Create" class="btn btn-success">Create</a>
    </div>
    <div class="table-responsive pt-3 mt-5">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th>
                            @item.Name

                        </th>
                        <td>
                            <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-outline-primary">Detail</a>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary">Edit</a>
                            <form asp-action="Delete" asp-route-id="@item.Id" method="post" class="d-inline">
                                <button type="submit" class="btn btn-outline-danger">Delete</button>
                            </form>
                        </td>

                    </tr>

                }
            </tbody>
        </table>



    </div>
</div>